aside {
  padding: 4px 23px 0;
  font-size: 0.7rem; }

aside .logomark {
  margin: 0; }

aside .MenuList {
  width: 130px;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 0.76rem; }
  aside .MenuList li ul {
    padding-left: 0px; }

.Local-menu ul li {
  list-style: none; }

.thumbnail {
  float: right; }

h2 {
  padding-left: 0px; }
